@namespace PublicKernBlazor.Components.Components.Content

<div class="kern-task-list-group" @attributes="AdditionalAttributes">
    @if (!string.IsNullOrWhiteSpace(Title))
    {
        <h3 class="kern-title">@Title</h3>
    }
    @ChildContent
</div>

@code {
    /// <summary>Optionaler Gruppentitel.</summary>
    [Parameter]
    public string? Title { get; set; }

    /// <summary>Enthaltene <see cref="KernTaskList"/>-Elemente oder beliebiger Inhalt.</summary>
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    /// <summary>Zusätzliche HTML-Attribute.</summary>
    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }
}

