@inherits LayoutComponentBase

<div class="page">
    <aside class="sidebar">
        <NavMenu/>
    </aside>

    <main class="layout-main">
        <header class="top-row">
            <div class="top-row__content">
                <div>
                    <p class="kern-preline">KERN Design System</p>
                    <h1 class="kern-title">KernUxExample.Blazor</h1>
                </div>

                <a class="kern-link" href="https://learn.microsoft.com/aspnet/core/" target="_blank" rel="noreferrer">About</a>
            </div>
        </header>

        <article class="content">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>