<div class="nav-shell kern-card kern-card--hug">
    <div class="nav-brand">
        <p class="kern-preline">Navigation</p>
        <a class="kern-link nav-brand__link" href="">
            <span class="kern-icon kern-icon--home" aria-hidden="true"></span>
            <span class="kern-title kern-title--small">KernUxExample.Blazor</span>
        </a>
    </div>

    <input id="nav-toggle" type="checkbox" title="Navigation menu" class="nav-toggle"/>
    <label for="nav-toggle" class="nav-toggle-button">
        <span class="kern-label kern-label--small">Menü</span>
        <span class="kern-icon kern-icon--more-vert" aria-hidden="true"></span>
    </label>

    <div class="nav-scrollable">
        <nav aria-label="Hauptnavigation">
            <ul class="kern-list nav-list">
                <li class="nav-item">
                    <NavLink class="kern-link nav-link" href="" Match="NavLinkMatch.All">
                        <span class="kern-icon kern-icon--home" aria-hidden="true"></span>
                        <span class="kern-body kern-body--bold">Home</span>
                    </NavLink>
                </li>

                <li class="nav-item">
                    <NavLink class="kern-link nav-link" href="counter">
                        <span class="kern-icon kern-icon--add" aria-hidden="true"></span>
                        <span class="kern-body kern-body--bold">Counter</span>
                    </NavLink>
                </li>

                <li class="nav-item">
                    <NavLink class="kern-link nav-link" href="weather">
                        <span class="kern-icon kern-icon--calendar-today" aria-hidden="true"></span>
                        <span class="kern-body kern-body--bold">Weather</span>
                    </NavLink>
                </li>
            </ul>
        </nav>
    </div>
</div>