.nav-shell {
    margin: 1rem;
    overflow: hidden;
}

.nav-brand {
    padding: 1.5rem 1.5rem 1rem;
}

.nav-brand__link {
    text-decoration: none;
    gap: 0.75rem;
    align-items: center;
}

.nav-toggle {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.nav-toggle-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    padding: 0.75rem 1.5rem;
    border-top: 1px solid var(--kern-color-layout-border);
    border-bottom: 1px solid var(--kern-color-layout-border);
    cursor: pointer;
}

.nav-toggle-button .kern-icon {
    background-color: var(--kern-color-action-default);
}

.nav-scrollable {
    display: none;
    padding: 0.5rem 1rem 1rem;
}

.nav-list {
    gap: 0.25rem;
}

.nav-item ::deep .nav-link {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.75rem 1rem;
    border-radius: var(--kern-metric-border-radius-default);
    text-decoration: none;
}

.nav-item ::deep .nav-link .kern-icon {
    flex-shrink: 0;
}

.nav-item ::deep .nav-link.active {
    background: var(--kern-color-action-state-indicator-tint-hover-opacity);
}

.nav-item ::deep .nav-link.active .kern-body {
    text-decoration: underline;
    text-decoration-thickness: var(--kern-3);
}

.nav-toggle:checked ~ .nav-scrollable {
    display: block;
}

@media (min-width: 900px) {
    .nav-shell {
        margin: 1.5rem;
    }

    .nav-toggle-button {
        display: none;
    }

    .nav-scrollable {
        display: block;
        padding-bottom: 1.5rem;
    }
}
