<nav aria-label="Showcase Navigation" class="demo-nav">
    <KernTitle Size="TitleSize.Small">Showcase</KernTitle>
    <KernList Variant="KernListVariant.Bullet">
        <li><KernLink Href="/">Startseite</KernLink></li>
        <li><KernLink Href="/components/typography">Typografie</KernLink></li>
        <li><KernLink Href="/components/layout">Layout und Grid</KernLink></li>
        <li><KernLink Href="/components/buttons">Buttons</KernLink></li>
        <li><KernLink Href="/components/forms">Formulare</KernLink></li>
        <li><KernLink Href="/components/feedback">Feedback</KernLink></li>
        <li><KernLink Href="/components/content">Content</KernLink></li>
        <li><KernLink Href="/components/navigation">Navigation</KernLink></li>
        <li><KernLink Href="/components/icons">Icons</KernLink></li>
    </KernList>

    <KernDivider />

    <KernTitle Size="TitleSize.Small">Praxisbeispiele</KernTitle>
    <KernList Variant="KernListVariant.Bullet">
        <li><KernLink Href="/examples/antrag">Antragsstrecke</KernLink></li>
        <li><KernLink Href="/examples/dashboard">Dashboard</KernLink></li>
    </KernList>
</nav>
