@page "/components/layout"
@using KernUx.Blazor.Demo.Components.Shared

<PageTitle>Layout - KernUx.Blazor Showcase</PageTitle>

<KernContainer>
    <KernHeading Level="HeadingLevel.Large" Element="h1">Layout und Grid</KernHeading>
    <KernBody Muted="true">Demonstration von Container, Zeilen, Spalten und Alignment-Utilities.</KernBody>

    <ComponentSection Title="Container" Description="Standard-Container und fluides Layout.">
        <KernContainer class="demo-nested-container">
            <KernBody>Standardcontainer mit fester Breite.</KernBody>
        </KernContainer>
        <KernContainer Fluid="true" class="demo-nested-container">
            <KernBody>Fluid-Container über die verfügbare Breite.</KernBody>
        </KernContainer>
    </ComponentSection>

    <ComponentSection Title="12-Spalten-Grid" Description="Basisdarstellung mit Spaltenbreiten.">
        <KernRow>
            <KernCol Span="3"><div class="demo-grid-box">3</div></KernCol>
            <KernCol Span="3"><div class="demo-grid-box">3</div></KernCol>
            <KernCol Span="3"><div class="demo-grid-box">3</div></KernCol>
            <KernCol Span="3"><div class="demo-grid-box">3</div></KernCol>
        </KernRow>
        <KernRow>
            <KernCol Span="8"><div class="demo-grid-box">8</div></KernCol>
            <KernCol Span="4"><div class="demo-grid-box">4</div></KernCol>
        </KernRow>
    </ComponentSection>

    <ComponentSection Title="Responsive Spalten" Description="Unterschiedliche Spannen je Breakpoint.">
        <KernRow>
            <KernCol Span="12" SpanMd="6" SpanLg="4"><div class="demo-grid-box">12 / 6 / 4</div></KernCol>
            <KernCol Span="12" SpanMd="6" SpanLg="4"><div class="demo-grid-box">12 / 6 / 4</div></KernCol>
            <KernCol Span="12" SpanMd="12" SpanLg="4"><div class="demo-grid-box">12 / 12 / 4</div></KernCol>
        </KernRow>
    </ComponentSection>

    <ComponentSection Title="Offset und Alignment" Description="Ausrichtung innerhalb der Row und einzelner Spalten.">
        <KernRow JustifyContent="JustifyContent.Between" AlignItems="AlignItems.Center">
            <KernCol Span="4"><div class="demo-grid-box">Start</div></KernCol>
            <KernCol Span="4"><div class="demo-grid-box">Ende</div></KernCol>
        </KernRow>

        <KernRow>
            <KernCol Span="4" Offset="2"><div class="demo-grid-box">Offset 2</div></KernCol>
            <KernCol Span="4" AlignSelf="AlignSelf.End"><div class="demo-grid-box">AlignSelf End</div></KernCol>
        </KernRow>
    </ComponentSection>
</KernContainer>

