@page "/not-found"
@layout MainLayout

<PageTitle>Seite nicht gefunden - PublicKernBlazor.Components Showcase</PageTitle>

<KernContainer>
    <KernRow>
        <KernCol>
            <KernHeading Level="HeadingLevel.Large" Element="h1">Seite nicht gefunden</KernHeading>
            <KernBody>
                Die angeforderte Seite existiert nicht oder wurde verschoben.
            </KernBody>

            <KernAlert Type="AlertType.Warning" Title="Hinweis">
                Bitte prüfen Sie die URL oder verwenden Sie die Navigation links.
            </KernAlert>

            <KernRow>
                <KernCol Span="6" SpanMd="4">
                    <a href="/" class="kern-btn kern-btn--primary kern-btn--block">Zur Startseite</a>
                </KernCol>
            </KernRow>
        </KernCol>
    </KernRow>
</KernContainer>
