@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<section class="kern-card kern-card--hug">
    <div class="kern-card__container">
        <header class="kern-card__header">
            <p class="kern-preline">Interaktive Demo</p>
            <h1 class="kern-heading-large">Counter</h1>
        </header>

        <section class="kern-card__body">
            <p class="kern-body" role="status">Current count: <span class="kern-body kern-body--bold">@_currentCount</span></p>
        </section>

        <footer class="kern-card__footer">
            <button class="kern-btn kern-btn--primary" @onclick="IncrementCount">
                <span class="kern-label">Click me</span>
            </button>
        </footer>
    </div>
</section>

@code {
    private int _currentCount;

    private void IncrementCount()
    {
        _currentCount++;
    }

}