@page "/"

<PageTitle>Home</PageTitle>

<section class="kern-card kern-card--hug">
    <div class="kern-card__container">
        <header class="kern-card__header">
            <p class="kern-preline">KernUX Demo</p>
            <h1 class="kern-heading-large">Hello, world!</h1>
            <p class="kern-subline">Blazor mit dem KERN Design System</p>
        </header>

        <section class="kern-card__body">
            <p class="kern-body">Welcome to your new app.</p>
        </section>
    </div>
</section>
