@page "/weather"
@attribute [StreamRendering]
@inherits WeatherBase

<PageTitle>Weather</PageTitle>

<section class="kern-card kern-card--hug">
    <div class="kern-card__container">
        <header class="kern-card__header">
            <p class="kern-preline">Beispieldaten</p>
            <h1 class="kern-heading-large">Weather</h1>
            <p class="kern-subline">This component demonstrates showing data.</p>
        </header>

        <section class="kern-card__body">
            @if (_forecasts is null)
            {
                <p class="kern-body">
                    <em>Loading...</em>
                </p>
            }
            else
            {
                <div class="kern-table-responsive" tabindex="0">
                    <table class="kern-table kern-table--striped">
                        <caption class="kern-title">Forecast</caption>
                        <thead class="kern-table__head">
                            <tr class="kern-table__row">
                                <th scope="col" class="kern-table__header">Date</th>
                                <th scope="col" class="kern-table__header kern-table__header--numeric" aria-label="Temperature in Celsius">Temp. (C)</th>
                                <th scope="col" class="kern-table__header kern-table__header--numeric" aria-label="Temperature in Fahrenheit">Temp. (F)</th>
                                <th scope="col" class="kern-table__header">Summary</th>
                            </tr>
                        </thead>
                        <tbody class="kern-table__body">
                            @foreach (var forecast in _forecasts)
                            {
                                <tr class="kern-table__row">
                                    <th scope="row" class="kern-table__header">@forecast.Date.ToShortDateString()</th>
                                    <td class="kern-table__cell kern-table__cell--numeric">@forecast.TemperatureC</td>
                                    <td class="kern-table__cell kern-table__cell--numeric">@forecast.TemperatureF</td>
                                    <td class="kern-table__cell">@forecast.Summary</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </section>
    </div>
</section>
